xml/user.dtd

<!ELEMENT users (user+)>
<!ELEMENT user (username,firstName,lastName,password,email,rating,preferences)>
<!ATTLIST user 
	id			CDATA	#REQUIRED
>

<!ELEMENT username (#PCDATA)>
<!ELEMENT firstName (#PCDATA)>
<!ELEMENT lastName (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT rating (#PCDATA)>

<!ELEMENT preferences (emailNotifications)>
<!ELEMENT emailNotifications (#PCDATA)>